$primo-bg: #fff;
$secondo-bg: #F2F7FF;
$terzo-bg: #377DFF;
$quarto-bg: #1E1E1E;
$quinto-bg: #00000026;

$primo-text: #FFF;
$secondo-text: #6CDAC1;
$terzo-text: #FF796D;
$quarto-text: #8E989F;
$quinto-text: #377DFF;
$sesto-text: #495057;
$settimo-text: #1E1E1E;
$ottavo-text: #000;
$nono-text: #000000E6;

$primo-border: #FFF;
$secondo-border: #EFF1FE;
$terzo-border: #377DFF;
$quarto-border: #1E1E1E;
$quinto-border: #00000008;
$sesto-border: #0000000D;
$settimo-border: #00000014;